@model IEnumerable<MyWeb.Data.Product>

@{
    ViewBag.Title = "Index";
}

<section class="content-header clearfix">
    <h1 class="pull-left">
        Quản lý sản phẩm
    </h1>
    <div class="pull-right pb10">
        <a href="/Admin/Product/Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            Thêm mới
        </a>
        <div class="btn-group">
            <button type="button" class="btn btn-success">
                <i class="fa fa-download"></i>
                Export
            </button>
            <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">&nbsp;</span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li>
                    <a href="/Admin/Category/ExportXml">
                        <i class="fa fa-file-code-o"></i>
                        Export to XML
                    </a>
                </li>
                <li>
                    <a href="/Admin/Category/ExportXlsx">
                        <i class="fa fa-file-excel-o"></i>
                        Export to Excel
                    </a>
                </li>
            </ul>
        </div>
        <button type="button" name="importexcel" class="btn bg-olive" data-toggle="modal" data-target="#importexcel-window">
            <i class="fa fa-upload"></i>
            Import
        </button>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box box-solid box-search">
                <div class="box-header with-border">
                    <h3 class="box-title"><i class="fa fa-fw fa-filter"></i> Tìm kiếm </h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-6">
                        <div class="form-horizontal">
                            <div class="form-group">
                                <div class="col-md-4">
                                    <label class="control-label">Thể loại</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="button" class="btn btn-primary btn-search"><i class="fa fa-search"></i>Tìm kiếm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
        <div class="col-md-12" id="box">
            <div class="box">
                <div class="box-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="w20">
                                    <input type="checkbox" />
                                </th>
                                <th class="center">Ảnh</th>
                                <th class="center">Tên</th>
                                <th class="center">Giá</th>
                                <th class="center">Loại</th>
                                <th class="center">Trạng thái</th>
                                <th class="center w70"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox" />
                                        </td>
                                        <td>@item.Name</td>
                                        <td>@item.CreatedOnUtc</td>
                                        <td class="center">
                                            <a href="/Admin/Product/Edit/@item.Id">
                                                <i class="fa fa-fw fa-edit"></i>
                                            </a>
                                            <a href="/Admin/Product/Delete/@item.Id" onclick="return confirm('Bạn có chắc chắn muốn xóa không?');">
                                                <i class="fa fa-fw fa-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }*@
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
