@using MyWeb.Core;

<footer class="container-custom">
    <div class="container hidden-xs">
        <div class="row">
            <div class="column col-sm-12">
                <p class="copyright">@Constant.COPYRIGHT</p>
            </div>
        </div>
    </div>
</footer>