@model IEnumerable<MyWeb.Data.NewsCategory>
<div class="input-group-btn">
    <button type="button" id="searchcategory" value="BLOG" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Khám phá <span class="caret"></span></button>
    <ul id="searchdropdown" class="dropdown-menu" role="menu">
        @foreach (var item in Model)
        {
            <li><a href="/the-loai/@item.Slug">@item.Name</a></li>
        }
    </ul>
</div>
