body {
    padding-top: 50px;
    /*background-color: #f8f8f8;*/
    /*font-family: 'Segoe UI Semibold';*/
    font-family: "Segoe UI", "Helvetica Neue", Helvetica;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}


nav.naomi-post-navigation {
    font-family: "Roboto Condensed",Helvetica Neue,Helvetica,Arial,sans-serif;
    padding: 0;
    /*margin: 30px -30px 50px 0;*/
    clear: both;
    display: block;
    position: relative;
    overflow: hidden;
    background: #fff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    z-index: 1;
}

    nav.naomi-post-navigation .prev-post-button {
        border-right: 1px solid #eee;
    }

    nav.naomi-post-navigation .prev-post-button, nav.naomi-post-navigation .next-post-button {
        width: 50%;
        float: left;
        padding: 10px 10px;
        text-align: center;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }

    nav.naomi-post-navigation .label-button {
        font-size: 14px;
        font-weight: bold;
        color: #000;
        text-transform: uppercase;
        clear: both;
        display: block;
    }

    nav.naomi-post-navigation a {
        display: block;
        font-size: 16px;
        color: #999;
        padding: 10px 0 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

        nav.naomi-post-navigation a:hover {
            color: #fd4b53 !important;
        }

.naomi-article-col > h1, .naomi-article-col > h2, .naomi-article-col > h3, .naomi-article-col > h4, .naomi-article-col > h5, .naomi-article-col > h6 {
    margin-top: 0px !important;
    font-weight: 500;
    line-height: 1.4;
    margin-top: 20px;
    color: #000;
}

h3.naomi-pre-title .meta-com {
    font-weight: 700;
}

h3.naomi-pre-title a {
    color: #000;
    text-transform: uppercase;
}

h3.naomi-pre-title .pre-sub {
    color: #fd4b53;
    margin-left: 10px;
}

.reveal-comments {
    color: #fd4b53 !important;
    font-size: 15px;
}

h3.naomi-pre-title a {
    color: #000;
    text-transform: uppercase;
}

#comments ol.comment-list {
    list-style: none;
    margin: -5px 0 30px;
    padding: 0;
    font-size: 15px;
    border-bottom: 1px solid #eee;
}

#comments ol.comment-list {
    margin: 0;
    padding: 0;
}

#respond {
    position: relative;
    margin: 0;
    color: #999;
    padding: 0 12px 15px 20px;
    border-top: 1px solid #eee;
    /*border-bottom: 3px solid #eee;*/
    background: #f5f5f5;
}

    #respond #reply-title {
        position: relative;
        font-family: "Roboto Condensed",Helvetica Neue,Helvetica,Arial,sans-serif;
        font-weight: 600;
        color: #000;
        margin: 0 0 25px;
        border-top: 3px solid #fd4b53;
        text-transform: uppercase;
        display: inline-block;
        padding: 20px 0 0 20px;
        left: -20px;
        line-height: 1.1;
    }

    #respond .comment-notes, #respond .form-allowed-tags, #respond .required {
        display: none;
    }

    #respond p {
        position: relative;
    }

        #respond p.comment-form-comment {
            display: block;
            clear: both;
            margin-bottom: 10px;
            border-bottom: 0;
        }

            #respond p.comment-form-comment label {
                position: absolute;
                top: 20px;
                left: 10px;
            }

    #respond label, #respond .required {
        font-weight: 400;
        color: #999;
        font-size: 14px;
        display: inline;
    }

    #respond textarea {
        font-size: 13px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        width: 100%;
        max-width: 100%;
        height: 100px;
        color: #aaa;
        padding: 10px;
        margin-top: 10px;
        background: #fff;
    }

    #respond p.comment-form-author, #respond p.comment-form-email, #respond p.comment-form-url {
        display: inline;
        float: left;
        /*width: 33%;*/
        width: 100%;
        margin-right: -1px;
    }

        #respond p.comment-form-author label, #respond p.comment-form-email label, #respond p.comment-form-url label {
            position: absolute;
            top: 15px;
            left: 10px;
        }

    #respond label, #respond .required {
        font-weight: 400;
        color: #999;
        font-size: 14px;
        display: inline;
    }

    #respond p.comment-form-author input, #respond p.comment-form-email input, #respond p.comment-form-url input {
        width: 100%;
    }

    #respond input {
        margin-bottom: 10px;
        background: #fff;
        border: 1px solid #ddd;
        font-size: 14px;
        color: #aaa;
        padding: 15px 10px;
        width: 100% !important;
    }

    #respond p.form-submit {
        clear: both;
        float: none;
        width: 25%;
    }

.rad-button, #commentform input#submit, #submit.rad-button {
    border: 2px solid #ddd;
}

.rad-button, #commentform input#submit, #submit.rad-button {
    font-family: "Roboto Condensed",Helvetica Neue,Helvetica,Arial,sans-serif;
    position: relative;
    background: none;
    padding: 15px 22px;
    line-height: 2.2;
    font-weight: 600;
    color: #999;
    font-size: 14px;
    text-transform: uppercase;
    display: inline;
    border-radius: 0;
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

#respond input#submit {
    background: #000 !important;
    cursor: pointer;
    margin: 0;
    width: auto;
    padding: 10px 20px;
    border: 0 !important;
    color: #fff !important;
    font-weight: normal !important;
    opacity: .8;
}

#comments li.comment {
    margin: 15px 0;
    padding: 0;
    list-style: none;
}

#comments li.depth-1:last-child .naomi-single-comment {
    border-bottom: 0;
}

#comments .naomi-single-comment {
    padding: 0 30px 0 0;
    border-bottom: 1px solid #eee;
}

#comments .naomi-gravatar img {
    width: 40px;
    height: 40px;
    float: left;
    margin: 5px 15px 5px 0;
    border-radius: 50%;
}

#comments .naomi-comment-group {
    overflow: auto;
}

#comments .naomi-ccauthor {
    font-weight: bold;
}

#comments .naomi-comment-group p {
    color: #555;
    margin-top: 3px;
    line-height: 1.7;
    padding-top: 10px;
    padding-bottom: 5px;
}

#comments .naomi-date {
    display: inline-block;
    font-size: 12px;
    color: #aaa;
    margin: 0 0 15px 0;
}

#comments .naomi-cc-reply {
    -webkit-transition: .3s linear;
    transition: .3s linear;
    font-size: 12px;
    padding: 0 0 0 10px;
    top: 4px;
    position: relative;
    float: right;
}

.result {
    color: #690;
}

.glyphicon-comment:before {
    position: relative !important;
    top: 3px !important;
}


.business-header {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    position: relative;
}

.header-image img {
    width: 100%;
    height: 300px;
}

.tagline {
    text-shadow: 0 0 10px #000;
    color: #fff;
}

.img-center {
    margin: 0 auto;
}

footer {
    background: #fff;
    padding: 20px 0;
}

.container-title {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    width: 92%;
    max-width: 600px;
    bottom: 550px;
}

a, a:hover {
    color: #333 !important;
    text-decoration: none !important;
}

.navbar .navbar-form {
    padding-top: 0px;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#searchcategory {
    width: 100px;
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

@media(max-width:767px) {
    body { /* Body offset for fixed navbar for mobile devices */
        padding-top: 140px;
    }

    .navbar .navbar-form {
        width: 100%; /* Full width search box for mobile devices */
    }
}

/* Media queries to adjust form width */
@media(min-width:768px) {
    .navbar-form .input-group > .form-control {
        width: 200px;
    }
}

@media(min-width:992px) {
    .navbar-form .input-group > .form-control {
        width: 270px;
    }
}

@media(min-width:1200px) {
    .navbar-form .input-group > .form-control {
        width: 370px !important;
    }
}

.listing {
    color: #878586;
    font-size: 14px;
}

    .listing li {
        list-style: none;
    }


.footer-links div.row nav ul.listing a.ad-choice, #Footer .footer-links div.row nav ul.listing a.title {
    font-size: 14px;
}

.socialConnect {
    text-align: left;
    margin-top: 0;
}

    .socialConnect .heading {
        color: #878586;
        font-family: 'Gotham Rounded 4r';
        font-size: 19px;
        margin-top: 0;
        margin-bottom: 10px;
        padding-left: 4px;
        text-align: right;
        font-weight: 700;
    }

.nav-tabs li:first-of-type, .unstyled, ol.inline, ul.inline {
    margin-left: 0;
}

.unstyled {
    list-style: none;
}

.socialConnect .icon:last-child {
    margin-right: 0 !important;
}

.socialConnect .icon {
    font-size: 21px;
    margin-right: 0;
}

.socialConnect .round-button:nth-last-child(1) {
    margin-right: 0;
}

.socialConnect .round-button {
    width: 33px;
    display: inline-block;
    margin-right: 5px;
}

    .socialConnect .round-button .round-button-circle {
        width: 100%;
        height: 0;
        padding-bottom: 99%;
        border-radius: 50%;
        overflow: hidden;
    }

.socialConnect .footer-social .round-button .round-button-circle a {
    font-size: 17px;
    padding-left: 4px;
}

.socialConnect .round-button .round-button-circle a.btnPinterest {
    background: #c81b2b;
}

.socialConnect .round-button .round-button-circle a {
    color: #fff !important;
    display: block;
    float: left;
    width: 100%;
    padding-top: 44%;
    padding-bottom: 100%;
    margin-top: -.5em;
    font-size: .6em;
    line-height: 1.1em;
}

    .socialConnect .round-button .round-button-circle a.btnFacebook {
        background: #4c5da5;
    }

    .socialConnect .round-button .round-button-circle a.btnTwitter {
        background: #55acee;
    }

.footer-social li {
    float: left;
    margin-right: 5px !important;
}

.socialConnect .round-button .round-button-circle a.btnGoogle {
    background: #d34b32;
}

.socialConnect .round-button .round-button-circle a.btnInstagram {
    background: #f09433;
    background: -moz-linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: -webkit-linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg,#f09433 0,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.social {
    float: right;
}

.tile-people {
    height: 30px;
    padding: 8px 10px 30px;
}

.social {
    display: inline-block;
    float: left;
}

.social-thumb-container:first-child {
    margin-left: 0;
    /*z-index: 5000;*/
}

.social-thumb-container {
    position: relative;
    display: inline-block;
    margin-left: -10px;
}

    .social-thumb-container:nth-child(2) {
        /*z-index: 4900;*/
    }

.social-thumb-container {
    position: relative;
    display: inline-block;
    margin-left: -10px;
}

.social-thumb {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    width: 24px;
    height: 24px;
    border: 1px solid #fff;
    vertical-align: middle;
}

.social-hover-container {
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1;
    width: 275px;
    bottom: 30px;
    left: -130px;
    padding-bottom: 10px;
}

.tile-people .gh-bttn-small {
    width: 27px;
    height: 27px;
    font-size: 26px;
    border: 1px solid;
    outline: 0;
}

.gh-bttn-small.deselected {
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.fr {
    float: right;
}

.gh-bttn-small {
    color: #a5d670;
    background-color: #fff;
    font-size: 30px;
    line-height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -o-transition: color .3s ease;
    -ms-transition: color .3s ease;
    transition: color .3s ease;
}

.box {
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
    width: 100%;
    margin-top: 25px;
    padding: 5px 0px 25px 0px;
}

    .box h2 {
        margin-left: 8px;
        font-size: 25px;
        /*padding-bottom: 15px;*/
        font-weight: 600;
    }

.icon-save {
    font-size: 20px;
    top: -1px;
    left: -4px;
}

.full-tile {
    padding-top: 26px;
    padding-bottom: 20px;
    text-align: center;
}

    .full-tile .rounded-line {
        height: 3px;
        width: 300px;
        max-width: 100%;
        margin: 5px auto 0;
        background-color: #b6b5b5;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }

.full-title {
    font-family: "Gotham Rounded 5r",Helvetica;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: bold;
}

.tile-people a.gh-bttn-small:hover {
    border: 1px solid #a5d670;
    color: #a5d670;
}

.navbar-brand {
    margin-right: 150px;
}

@media(max-width: 991px) {
    .navbar-brand {
        margin-right: 0px !important;
    }
}

.round-button-circle span:before {
    margin-left: 5px;
}

li {
    list-style: none;
}

@media(max-width: 767px) {
    .listing {
        text-align: center;
        color: #878586;
        font-size: 12px;
    }

    .social-icons-mobile li {
        display: inline-block;
    }

    .socialConnect {
        text-align: center;
    }

    .logo-container {
        text-align: center;
    }

    .round-button-circle span:before {
        margin-left: 0;
    }
}

a, button, div, footer, form, header, html, img, label, legend, li, main, nav, object, p, pre, q, samp, section, span, strike, ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/*.container-custom {
    padding-top: 40px !important;
    padding-bottom: 25px !important;
    background-color: #fff;
}*/

.container-custom {
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
}

.entry-meta {
    display: block;
    /*padding: 20px 30px 0 0;*/
    font-size: 13px;
    /*letter-spacing: 1px;*/
    text-align: left;
    margin: 0 -0px 20px 0;
    /*text-transform: uppercase;*/
    color: #382c2c;
    border-bottom: 0 solid #eee;
    border-top: 0 solid #eee;
    font-style: italic;
}

    .entry-meta img {
        position: relative;
        top: -1px;
        width: 30px;
        min-height: 30px;
        height: auto;
        border-radius: 50%;
        margin-right: 8px;
    }

img.avatar, .author-bio-card img.avatar {
    -webkit-transform: translateZ(0);
    -webkit-mask-image: -webkit-radial-gradient(circle,white,black);
}

.entry-meta a.author, .entry-meta .meta-com {
    color: #fd4b53;
}

.entry-meta a time {
    color: #ccc;
}

.entry-meta time {
    float: none;
}

.entry-meta .meta-com {
    text-transform: uppercase;
    float: right;
    position: relative;
    padding-left: 10px;
    padding-right: 0;
    top: 3px;
    color: #fd4b53;
}

.entry-content {
    font-size: 16px;
    color: #000;
    margin: 20px 0 10px;
    min-height: 240px;
    overflow: visible;
    position: relative;
}

.naomi-full-entry {
    margin-right: 0;
    overflow: hidden;
}

.entry-tags {
    padding: 0;
    margin: 15px 0 15px;
    list-style-type: none;
    float: left;
    width: 100%;
    color: #000;
    overflow: hidden;
}

[class^="naomi-icon-"], [class*="naomi-icon-"] {
    speak: none;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
}

.entry-tags li {
    list-style-type: circle;
    display: inline-block;
    margin: 0;
}

.entry-content li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.naomi-full-entry ul li {
    list-style: square;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: -15px;
}

.entry-tags a {
    border-radius: 3px;
    color: #382c2c !important;
    font-size: 14px;
    font-weight: 300;
    padding: 5px 0 0 10px;
    /*text-transform: uppercase;*/
    -webkit-transition: .3s linear;
    transition: .3s linear;
}

.naomi-info-share {
    display: block;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 0;
}

    .naomi-info-share::before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 1px;
        height: 100%;
        background: #eee;
        z-index: 99;
    }

    .naomi-info-share [class*="naomi-icon-"]:first-child {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .naomi-info-share .naomi-icon-twitter {
        background: #56acee !important;
    }

    .naomi-info-share [class*="naomi-icon-"] {
        font-family: "Roboto Condensed",Helvetica Neue,Helvetica,Arial,sans-serif;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        clear: both;
        background: #000;
        border: 0 solid #eee;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        overflow: hidden;
        margin-left: -1px;
        margin-top: 30px;
        margin-bottom: 30px;
        text-align: center;
        font-size: 17px;
        font-weight: 700;
        padding-top: 0;
        z-index: 99;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }

.hidden-comments, .naomi-unset {
    display: block;
    border: 0;
    clip: rect(0 0 0 0);
    position: absolute;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
}

.naomi-info-share .naomi-icon-facebook {
    background: #37528e !important;
    font-size: 18px;
}

.naomi-info-share .naomi-icon-google {
    background: #e74c3c !important;
    font-size: 15px;
}

.naomi-info-share .naomi-icon-tumblr {
    background: #34465d !important;
}

.naomi-info-share .naomi-icon-envelop {
    background: #000 !important;
}

.naomi-section-title {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.4;
    /*margin: -5px 0 25px;*/
    padding: 0;
    display: block;
    border-top: 0;
    left: 0 !important;
    position: relative;
    color: #000;
    /*text-transform: uppercase;*/
    cursor: default;
}

.widget_posts .popular_list {
    margin-left: 15px;
    list-style-image: url('/Content/images/bullet_red.png');
}

    .widget_posts .popular_list img {
        float: left;
        display: table-cell;
        width: 35%;
        height: auto;
        margin: 0px 5px 0px 15px;
    }

    .widget_posts .popular_list a:hover {
        text-decoration: underline !important;
    }

    .widget_posts .popular_list .meta-count, .widget_posts .popular_list .meta-com {
        position: absolute;
        top: 10px;
        right: 0;
        font-weight: 500;
        background: #000;
        color: #fff !important;
    }

.widget_posts .meta-count, .widget_posts .meta-com {
    font-size: 11px;
    background: #fff;
    padding: 8px 12px;
    border-radius: 0;
    color: #000;
    float: right;
    margin-top: 15px;
    z-index: 100;
}

.widget_posts .naomi-icon-fire::before {
    color: inherit;
    padding: 0 4px 0 0;
    top: 0;
}

.widget_posts .popular_list .entry-title {
    text-align: left;
    color: #000;
    margin-top: 10px;
    font-size: 15px;
}

.widget_posts .entry-title {
    /*font-size: 19px;*/
    /*font-weight: bold;*/
    line-height: 1.4;
    color: #000;
    z-index: 100;
}

    .widget_posts .entry-title a {
        color: inherit;
        display: block;
        -webkit-transition: .3s linear;
        transition: .3s linear;
    }

.breadcrumb {
    background-color: transparent !important;
}

.breadcrumb {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    padding: 0px !important;
}

.title-slile {
    text-shadow: 0 0 10px #000;
    color: #fff;
    position: absolute;
}

.home-content {
    margin-left: 10px;
    line-height: 1.8;
    font-size: 16px;
}

    .home-content .short-content {
        margin-bottom: 5px;
    }

    .home-content .create-date {
        display: block;
        font-size: 13px;
        text-align: left;
        margin: 0 -0px 20px 0;
        color: #382c2c;
        border-bottom: 0 solid #eee;
        border-top: 0 solid #eee;
        font-style: italic;
    }

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
        /*width: 990px !important;*/
    }
}

.navbar-header {
    width: 100%;
}

    .navbar-header #brand {
        font-size: 30px !important;
        width: 100%;
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 500;
    }


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    pointer-events: none !important;
    color: #fff !important;
    cursor: not-allowed !important;
    background-color: #286090 !important;
    border-color: #ddd !important;
}

.widget-area {
    position: relative;
}

    .widget-area .widget_posts {
        position: fixed;
    }


.breadcrumb-detail {
    border-bottom: 1px solid #ddd;
    padding-bottom: 8px !important;
}

    .breadcrumb-detail .home-name {
        font-weight: 500;
    }
